body{
font-family: Arial, sans-serif;
background:#0f172a;
margin:0;
color:white;
}

header{
text-align:center;
background:#1e293b;
padding:20px;
}

.container{
padding:20px;
max-width:400px;
margin:auto;
}

label{
display:block;
margin-top:15px;
}

input, select{
width:100%;
padding:10px;
margin-top:5px;
border-radius:8px;
border:none;
}

button{
margin-top:20px;
width:100%;
padding:12px;
background:#22c55e;
border:none;
border-radius:10px;
font-size:16px;
color:white;
}

button:hover{
background:#16a34a;
}

#hasil{
margin-top:20px;
text-align:center;
}
